@using ParkerPlan.Abstractions.Queries
@using ParkerPlan.Abstractions.Dtos
@using ParkerPlan.Abstractions
@using ParkerPlan.Abstractions.Enums
@using ParkerPlan.Abstractions.Commands.Good
@using ParkerPlan.Site.Data
@inject IQueryHandler<GetGoods, GoodDto[]> GetGoods
@inject ICommandHandler<UpdateGood> UpdateGood
@inject ICommandHandler<DeleteGood> DeleteGood
@inject ISnackbar Snackbar

<MudContainer Class="mt-16 px-8" MaxWidth="MaxWidth.False">
    @{
        var imgUrl = $"pens/PEN{_good.ParkerId}.bmp";
    }
    <MudGrid>
        <MudItem Style="width: 50%">
            <MudPaper Elevation="2" Class="pa-4">
                <img src="@imgUrl" />
            </MudPaper>
        </MudItem>
        <MudItem Style="width: 49%">
            <MudPaper Elevation="2" Class="pa-4">
                <MudText Typo="Typo.h5" Align="Align.Left">
                    <MudTextField Value="_good.Description" TextChanged="DescrChanged" />
                </MudText>
            </MudPaper>
        </MudItem>
    </MudGrid>
</MudContainer>


<MudContainer Class="mt-16 px-8" MaxWidth="MaxWidth.False">
    <MudPaper Elevation="2" Class="pa-4">
        @{
            var wnt = _good.WritingNodeType switch
            {
                WritingNodeType.Pen => "перьевой",
                WritingNodeType.Roller => "роллер",
                WritingNodeType.Round => "шариковый",
                _ => ""
            };

            var wntvals = new string[]
            {
                "перьевой",
                "роллер",
                "шариковый"
                                            };


            var dvals = new string[]
            {
                "золотые",
                "серебряные"
                                            };
            var d = _good.GoldDetails ? "золотые" : "серебряные";

            var pvals = new string[]
            {
                "золотое",
                "серебряное"
                                            };
            var p = _good.GoldPen ? "золотое" : "серебряное";
        }

        <ChangeStringField FieldName="Наименование" FieldValue="@_good.Name" Changed="@NameChanged" />
        <ChangeIntField FieldName="Цена" FieldValue="@_good.Price" Changed="@PriceChanged" />
        <ChangeStringField FieldName="Коллекция" FieldValue="@_good.Collection" Changed="@CollChanged" />
        <ReadonlyField FieldName="Код" FieldValue="@_good.ParkerId.ToString()" />
        <MudDivider />
        <ChangeEnumField FieldName="Тип пишущего узла" FieldValue="@wnt" EnumValues=@wntvals
                         Changed="@VntChanged" />
        <ChangeEnumField FieldName="Детали" FieldValue="@d" EnumValues="@dvals"
                         Changed="@DetailsChanged" />
        <ChangeEnumField FieldName="Перо" FieldValue="@p" EnumValues="@pvals" Changed="@PenChanged" />
        <ChangeBoolField FieldName="Возможна гравировка" FieldValue="@_good.AbleToEngraving"
                         Changed="@EngChanged" />
        <MudDivider />
        <ChangeIntField FieldName="Кол-во в Москве" FieldValue="@_good.InMsk" Changed="@MskChanged" />
        <ChangeIntField FieldName="Кол-во в Санкт-Петербурге" FieldValue="@_good.InSpb"
                        Changed="@SpbChanged" />
        <ChangeIntField FieldName="Кол-во в Уфе" FieldValue="@_good.InUfa" Changed="@UfaChanged" />
        <ChangeIntField FieldName="Кол-во в Екатеринбурге" FieldValue="@_good.InEkt"
                        Changed="@EktChanged" />
        <MudDivider />
        <ChangeBoolField FieldName="Подходит для мужчин" FieldValue="@_good.AbleForMan"
                         Changed="@FManChanged" />
        <ChangeBoolField FieldName="Подходит для женщин" FieldValue="@_good.AbleForWoman"
                         Changed="@FWomanChanged" />
        <ChangeIntField FieldName="Себестоимость" FieldValue="@_good.SelfPrice"
                        Changed="SPChanged" />
    </MudPaper>
</MudContainer>
@{
    var link = "/admin/";

    var saveIcon = Icons.Material.Rounded.Save;

    var deleteIcon = Icons.Material.Rounded.Delete;

    var backIcon = Icons.Material.Rounded.House;
}
<MudContainer Class="mt-16 px-8" MaxWidth="MaxWidth.False">
    <MudPaper Elevation="2" Class="pa-4">
        <div style="display: inline-block; width: 30%">
            <MudText Align="Align.Left">
                <MudButton OnClick="Save" Color="Color.Info" StartIcon="@saveIcon">
                    Coxранить
                </MudButton>
            </MudText>
        </div>
        <div style="display: inline-block; width: 30%">
            <MudText Align="Align.Center">
                <MudButton OnClick="() => { _showDialog = true; }" Color="Color.Error" StartIcon="@deleteIcon">
                    Удалить
                </MudButton>
            </MudText>
        </div>

        <div style="display: inline-block; width: 29%">
            <MudText Align="Align.Right">
                <MudButton Link="@link" StartIcon="@backIcon">
                    Назад
                </MudButton>
            </MudText>
        </div>
    </MudPaper>
</MudContainer>
<MudContainer Class="mt-16 px-8" MaxWidth="MaxWidth.False">
</MudContainer>
<YesNoDialog Ok="@DeletePen" Text="Удалить товар?" Visible="@_showDialog" OkLink="@link" />

@code
{
    [Parameter]
    public int Id { get; set; }

    private GoodDto _good;

    private bool _showDialog = false;

    private void DeletePen()
    {
        _showDialog = false;
        DeleteGood.Execute(new DeleteGood { GoodId = Id });
    }

    protected override void OnInitialized()
    {
        _good = GetGoods.Execute(new GetGoods()).First(x => x.ParkerId == Id);
        base.OnInitialized();
    }

    private void NameChanged(object val)
    {
        _good.Name = val.ToString();
    }

    private void PriceChanged(int val)
    {
        _good.Price = val;
    }

    private void CollChanged(object val)
    {
        _good.Collection = val.ToString();
    }

    private void VntChanged(object val)
    {
        _good.WritingNodeType = val switch
        {
            "перьевой" => WritingNodeType.Pen,
            "роллер" => WritingNodeType.Roller,
            "шариковый" => WritingNodeType.Round
        };
    }

    private void DetailsChanged(object val)
    {
        _good.GoldDetails = "золотые" == val;
    }

    private void PenChanged(object val)
    {
        _good.GoldPen = "золотое" == val;
    }

    private void MskChanged(int val)
    {
        _good.InMsk = val;
    }

    private void SpbChanged(int val)
    {
        _good.InSpb = val;
    }

    private void UfaChanged(int val)
    {
        _good.InUfa = val;
    }

    private void EktChanged(int val)
    {
        _good.InEkt = val;
    }

    private void EngChanged(bool val)
    {
        _good.AbleToEngraving = val;
    }

    private void FManChanged(bool val)
    {
        _good.AbleForMan = val;
    }

    private void FWomanChanged(bool val)
    {
        _good.AbleForWoman = val;
    }

    private void DescrChanged(string val)
    {
        _good.Description = val;
    }

    private void SPChanged(int val)
    {
        _good.SelfPrice = val;
    }

    private void Save()
    {
        UpdateGood.Execute(new UpdateGood { Good = _good });

        Snackbar.Configuration.PositionClass = Defaults.Classes.Position.BottomRight;
        Snackbar.Add("Данные сохранены!", Severity.Info);
    }
}
